@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
#logo{
    height: auto;
    width: 250px;
    padding-bottom: 0%;
    box-shadow: none;
}
h1{
    color: #146152;
}

th{
    border-bottom: 2px solid black;
}
body{
    margin: 0px;
}
main{

    padding: 16px;
}
footer{
    position: fixed;
    bottom: 0px;
    padding: 25px 0px 25px 25px;
    width: 100%;
    background-color: rgb(233, 233, 233);
}
img{
    height: 200px;
    box-shadow: 0px 2px 4px 0px lightslategray;
}
nav {
    padding: 16px;
    border-bottom: 3px solid #acacac;
    background-color: rgb(243, 208, 16);
}
a{
    text-decoration: none;
    color: #4d8648;
}
nav a{
    color: white;

}
a:hover{
    text-shadow: 2px;

}

.shaded{
    padding-bottom: 50px;
    padding-left: 10px;
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0);
}

#recipe-page{
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 5%;

    animation-duration: 2.5s;
    animation-name: slidein;
}
#recipe-image{
    height: 400px;
}
#recipe-image-page{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15%;
    width: 50%;
    margin: auto;

}
#footer-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    padding-bottom: 0%;
    width: 50px;
    height: 50px;
    box-shadow: none;

}
#footer-text{
    text-align: center;
    color: #777777;

}

tr:nth-child(even){
    background-color: #e5e5e5;
}

img:hover{
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0);
}

.rating{
    color:rgb(0, 0, 0)
}
/* NAV DROPDOWN */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    margin-top: 15px;
    min-width: 160px;
    margin-left: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 100px;
    text-decoration: none;
    display: block;

  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .checked {
    color: orange;
  }

/*  */

/* varrius effect */

  .buttons{
    text-align: center;
  }
  i{
    color: #777777;
  }

/*  */
@keyframes slidein {
    from{
        margin-left: 100%;
        width: 300%;
    }

    to{
        margin-left: 0%;
        width: 100%;
    }
}
